/* src/App.css */

.App {
  text-align: center;
}

h2 {
  color: #333;
}

input {
  margin-right: 8px;
}



/* App.css */

ul {
  list-style-type: none;
  padding: 0;
}

li {
  margin: 8px 0;
  padding: 8px;
  border: 1px solid #ccc;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

button {
  background-color: #f49e36;
  color: white;
  border: none;
  padding: 8px;
  cursor: pointer;
}

li button {
  margin-left: 10px;
}

li > div {
  display: flex;
  align-items: center;
}

.todo-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%; /* Ensure the entire width is used for flex */
}

.todo-container p {
  margin-left: auto; /* Push the Count to the right */
  margin-right: 10px;
}

.ab button, p {
  float: left;
}