/* src/App.css */

.App {
  text-align: center;
}

h2 {
  color: #333;
}

input {
  margin-right: 8px;
}

ul {
  list-style-type: none;
  padding: 0;
}

li {
  margin: 8px 0;
  padding: 18px;
  border: 1px solid #ccc;
 
}

.listButton button {
  background-color: #f49e36;
  color: white;
  border: none;
  padding: 8px;
  cursor: pointer;
  margin-left: 10px;
  
}

.buttons button {
  background-color: #f49e36;
  color: white;
  border: none;
  cursor: pointer;
  margin-left: 10px;
  float: right;
}

span button {
  width: 95px;
}
