/* src/App.css */

.App {
  text-align: center;
}

h2 {
  color: #333;
}

input {
  margin-right: 8px;
}

ul {
  list-style-type: none;
  padding: 0;
}

li {
  margin: 8px 0;
  padding: 8px;
  border: 1px solid #ccc;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

button {
  background-color: #f49e36;
  color: white;
  border: none;
  padding: 8px;
  cursor: pointer;
}

